@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Raleway:wght@400;600;700&display=swap');  
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Open+Sans:wght@400;600&display=swap'); 

/* Guidelines 
Fonts for the entire application 
If a new heading is made: 
    1: Add it here under the index 
    2: Tag it at the top with the exact name 
*/ 

/* Index: 
    1. title-card-h1
    2. radio-card-button-h1
    
*/


.title-card-h1 { 
    font-family: 'Nunito', sans-serif; 
    font-size:  3.5rem; 
    font-weight: 1000;
} 


.radio-card-button-h1 {
    font-size: 1.25rem; 
    font-family: 'Nunito', sans-serif;  
    font-weight: 800;
    color: #333;
  } 

.custom-button-login-h2 { 
    font-family: 'Nunito', sans-serif;  
    font-size: 1.25rem;  
    padding: 0px;
}

